In [80]:
import pandas as pd

### 파일 불러오기
df = pd.read_excel('data/F000801_20250519143452777_excel.xlsx',
                   skiprows=2,nrows=1,usecols="B:L")

# 'Unnamed:1 ' : 전체 컬럼명 변경
# index 전체
# # 문자를 숫자로 변경
# df.columns
# df.rename(columns={"Unnamed: 1":"전체"},inplace=True)
# df.index.name = "총합"

# df.str.replace(",","").astype()

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [81]:
df.set_index("Unnamed: 1",inplace=True)     # 컬럼을 index로 지정
df.index = ['총합']
df.index.name = "전체"
df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
전체,,,,,,,,,,
총합,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"

In [86]:
df.loc['총합'] = df.loc['총합'].str.replace(",","").astype(int)
df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
전체,,,,,,,,,,
총합,438420,406243,357771,326822,302676,272337,260562,249186,230028,230028

In [ ]:
df = df.T   # 축변경

In [89]:
df.describe()

전체          총합
count       10
unique       9
top     230028
freq         2

In [ ]:
df = df.astype(int)

df = df.T

총합: 평균, 최대값, 최소값