In [101]:
# 파일 불러오기
import pandas as pd

### 계
df = pd.read_excel('data/202504_202504_연령별인구현황_월간.xlsx',skiprows=3,
                   usecols='B,E:O',index_col='행정기관',nrows=1)
df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
행정기관,,,,,,,,,,,
전국,"3,069,919","4,623,300","5,858,472","6,632,515","7,661,329","8,692,664","7,835,385","4,324,972","2,123,731","344,632","8,806"

In [102]:
### 남
m_df = pd.read_excel('data/202504_202504_연령별인구현황_월간.xlsx',skiprows=3,
                   usecols='B,R:AB',index_col='행정기관',nrows=1)
m_df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~9세.1,10~19세.1,20~29세.1,30~39세.1,40~49세.1,50~59세.1,60~69세.1,70~79세.1,80~89세.1,90~99세.1,100세 이상.1
행정기관,,,,,,,,,,,
전국,"1,573,144","2,375,415","3,046,155","3,465,664","3,897,320","4,385,046","3,861,339","1,996,733","790,541","81,731","1,545"

In [103]:
### 여
w_df = pd.read_excel('data/202504_202504_연령별인구현황_월간.xlsx',skiprows=3,
                   usecols='B,AE:AO',index_col='행정기관',nrows=1)
w_df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~9세.2,10~19세.2,20~29세.2,30~39세.2,40~49세.2,50~59세.2,60~69세.2,70~79세.2,80~89세.2,90~99세.2,100세 이상.2
행정기관,,,,,,,,,,,
전국,"1,496,775","2,247,885","2,812,317","3,166,851","3,764,009","4,307,618","3,974,046","2,328,239","1,333,190","262,901","7,261"

In [104]:
### 컬럼명을 비교
df.columns      # 컬럼명 '0~9세
m_df.columns    # 컬럼명 '0~9세.1
w_df.columns    # 컬럼명 '0~9세.2

### 컬럼명으로 컬럼 출력
# df['0~9세']
# m_df['0~9세.1']
# w_df['0~9세.2']

### 컬럼명 변경
df.columns
m_df.columns = df.columns   # 컬럼명 변경
w_df.columns = df.columns   # 컬럼명 변경

In [105]:
df['0~9세']
m_df['0~9세']
w_df['0~9세']

행정기관
전국      1,496,775
Name: 0~9세, dtype: object

replace : ,를 삭제(천단위 삭제)
타입변경: astype(int), astype(float)

In [106]:
# df.describe()
# df.info()
# df['0~9세'] = df['0~9세'].str.replace(",","")   # 천단위 삭제
# df['0~9세'] = df['0~9세'].astype(int)           # 타입 변경
df['0~9세'] = df['0~9세'].str.replace(",","").astype(int)   # 천단위 삭제, 타입 변경
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 전국   to 전국
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~9세     1 non-null      int64
 1   10~19세   1 non-null      object
 2   20~29세   1 non-null      object
 3   30~39세   1 non-null      object
 4   40~49세   1 non-null      object
 5   50~59세   1 non-null      object
 6   60~69세   1 non-null      object
 7   70~79세   1 non-null      object
 8   80~89세   1 non-null      object
 9   90~99세   1 non-null      object
 10  100세 이상  1 non-null      object
dtypes: int64(1), object(10)
memory usage: 96.0+ bytes

In [107]:
df.columns
# 10~19세 천단위 삭제, int 변경

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [108]:
### m_df 천단위 삭제, int 타입 변경
# m_df.info()
m_df = m_df.T # 축 변경

In [109]:
m_df.head(2)

행정기관         전국
0~9세    1,573,144
10~19세  2,375,415

In [110]:
m_df.iloc[0].str.replace(",","").astype(int)

행정기관
전국      1573144
Name: 0~9세, dtype: int64

In [113]:
# ### 축이 전국으로 변경됨
# ### 컬럼별로 한번에 변경 가능 - replace,astype 컬럼 전체 적용시킴
# m_df.columns
# m_df['전국  '] = m_df['전국  '].str.replace(",","").astype(int)
# m_df

m_df.rename(columns={"전국  ":"전국"},inplace=True)
m_df.columns

Index(['전국'], dtype='object', name='행정기관')